@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes coin-spin {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(45deg);   /* very slow start */
  }
  30% {
    transform: rotateY(720deg);  /* speeds up */
  }
}

.coin-spin {
  animation: coin-spin 6s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  animation-delay: 3s;
  transform-style: preserve-3d;
}
