@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  /* 24%{
    transform: translateX(0);
  }
  25% {
    transform: translateX(calc(-0.25 * var(--scroll-width)));
  }
  49%{
    transform: translateX(calc(-0.25 * var(--scroll-width)));
  }
  50% {
    transform: translateX(calc(-0.5 * var(--scroll-width)));
  }
  74%{
    transform: translateX(calc(-0.5 * var(--scroll-width)));
  }
  75% {
    transform: translateX(calc(-0.75 * var(--scroll-width)));
  }
  99%{
    transform: translateX(calc(-0.75 * var(--scroll-width)));
  } */
  100% {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
}